.body{
font-family: 'Oswald', sans-serif;
}

/***navbar***/

.nav-item {
letter-spacing :.2em;
font-size : 14px;
text_transform : uppercase;

}
.container-fluid{
background-color:#F0B27A;
}

.dropdown-item {
letter-spacing :.2em;
font-size : 14px;
text_transform : uppercase;

}
/*** footer ***/
.my_footer{
background-color:#F0B27A;
height :60px;
}
.my_footer p{
padding-top:20px;
font-size: 14px;
text-align : center;
color :blue;
}
/*** category***/
.my_row_class{
padding-top:20 px;
}

.my_row_class .mx_auto{
    color:#2C3E50 ;
    font-size:15px;
}
.mx_auto{
    color:#2C3E50 ;
    font-size:15px;

}
.my_image {

     width:100%;
     height:auto;

}
.my_title {
letter-spacing:.2em;
font-size:16px;
text_transform:uppercase;
}
.my_image_padding{
 padding:5px;
}
.my_bottom_margin{
margin-bottom:10px;
}
.card-body h4{
font-size:14px;
text_transform:uppercase;
letter-spacing:.2em
}
/**** product***/
.my_prod_row_class {
color:#000;
font-size:16px;
text-decoration:none;
}

.my_prod_title{
font-size:16px;
text_transform:uppercase;
letter-spacing:.2em;
padding-top:15px;
padding-bottom:10px;
}

.my_prod_text{
padding-right:20px;
}
.search_text{
padding-top:20px;
}

/*** cart page ***/
.my_custom_table{
min-width:400px;
font-size:14px;
}

.my_custom_thead{
font-weight:normal;
text_transform:uppercase;
letter-spacing:.2em;
background-color:#E9967A;
}

.custom_a{
text-decoration:none;
}

.custom_icon{
text-decoration:none;
color:#E9967A;
}

.custom_button{
margin-top:5px;
}
